* {
  color: white;
  padding: 10px;
  /* margin: 10px; */
}

body {
  background-image: url("../bg.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

h1 {
  align-content: center;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  padding: 10px;
}

.center {
  margin-top: 50px;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center input {
  padding: 10px;
  font-size: 20px;
  color: black;
}

.center label {
  font-size: 20px;
  color: #eae2b7;
  font-weight: bold;
  width: 40%;
  /* background-color: aqua;
  color: red;
  padding: 10px;
  padding-left: auto;
  padding-right: auto; */
}

.center button {
  font-size: 20px;
  width: 16%;
  background-color: #003049;
  color: #eae2b7;
  padding: 10px;
}
